<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
	<link rel="stylesheet" th:href="@{/styles/password-reset-form.css}">
	<title>Alteração de senha</title>
</head>
<body>
	<div class="container">
		<div class="forms">
			<div class="form login">
				<span class="title">Redefina sua senha</span>
				<div th:if="${param.reset_success}" class="messageSuccess">
					<p>Você redefiniu sua senha com sucesso, faça o login aqui.</p>
				</div>
				<form th:action="@{/registration/reset-password}" th:object="${resetRequest}" method="post">
					<input type="hidden" th:field="*{token}" />
					<div th:if="${#fields.hasErrors('password')}" class="alert-message error">
						<ul>
							<li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
						</ul>
					</div>
					<div class="input-field" th:classappend="${#fields.hasErrors('password')} ? ' error'">
						<input type="password" class="password" th:field="*{password}"
							placeholder="Entre com sua nova senha" required>
						<i class="uil uil-lock icon"></i>
					</div>
					<div class="input-field" th:classappend="${#fields.hasErrors('password')} ? 'error'">
						<input type="password" class="password" id="confirm" name="confirm"
							oninput="checkConfirmPassword(this)" placeholder="Confirme sua senha" required>
						<i class="uil uil-lock icon"></i>
						<i class="uil uil-eye-slash showHidePw"></i>
					</div>
					<div class="input-field button">
						<button type="submit" name="login" id="login">Validar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/scripts/password-reset-form.js" th:src="@{/scripts/password-reset-form.js}"></script>
</body>
</html>
